.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px rgb(1, 1, 18);
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(1, 1, 18, 0.5);
}

.input__submit {
  position: absolute;
  width: 60px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0;
  border: none;
  font-size: 15px;
  background-color: rgb(170, 19, 19);
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(1, 1, 18);
}

.input__submit:hover {
  background-color: rgba(170, 19, 19, 0.8);
}

.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px rgb(1, 1, 18);
}

.lstostaf {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.lstostaf__single {
  display: flex;
  width: 30%;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 5px rgb(1, 1, 18);
}

.lstostaf__single--title {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 25px;
}

.lstostaf__single--title:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .input {
    width: 95%;
  }

  .lstostaf {
    width: 95%;
  }

  .lstostaf__single {
    width: 100%;
  }
}
